.header{
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.header .header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
.header__navbar-item--qr:hover .header__qr{
        display: block;
        
}
.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    border-left: 1px solid #fb9086;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
}
.header__navbar-item--strong{
    font-weight: 400;
}
.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    
}
.header__navbar-item,
.header__navbar-item-link,
.header_navbar-icon-link{
    display: inline-flex;
    align-items: center;

}
.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header_navbar-icon-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}
.header_navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}
.header_navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}
/* header qr code */
.header__qr{
    width: 186px;
    background: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .3s;
    

}
/* cầu nối */
.header__qr::before{
    content: "";
    position: absolute;
    top: -13px;
    width: 100%;
    height: 20px;
    display: block;
    left: 0;
}
.header__qr-img{
    width: 100%;
}
.header__qr-apps{
    display: flex;
    justify-content: space-evenly;

}
.header__qr-download-img{
    height: 16px;
}
/* Header notification */
.header__notify{
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotify ease-in .2s;
    display: none;
}
.header__notify::before{
    position: absolute;
    content: "";
    border:solid;
    border-width: 20px 26px;
    border-color: transparent transparent var(--white-color) transparent;
    right: 4px;
    top: -29px;
}
.header__notify::after{
    position: absolute;
    content: "";
    display: block;
    width: 90px;
    right: 0;
    top: -16px;
    height: 20px;
}
@keyframes headerNotify{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }

}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);


}
.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}
.header__notify-list{
    
    padding-left: 0;

}
.header__notify-item{
    display: flex;

}
.header__notify-item:hover{
    background-color: #f7f7f7;
}
/* thông báo chưa đọc */
.header__notify-item--viewed{
    background-color: rgba(238, 75, 43, 0.08);
}
.header__notify-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    

}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-info{
    margin-left: 12px;
 

}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height:1.8rem ;

}
.header__notify-description{
    margin-top: 4px;
    line-height: 1.8rem;
    font-size: 1.2rem;
    display: block;
    color: #756f6e;

}
.header__notify-footer{
    display: flex;
    
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}
